@keyframes fadein {
  0% {
    transform: translateY(1cm);
    opacity: 0;
  }
  10% {
    transform: translateY(0cm);
    opacity: 1;
  }
  90% {
    transform: translateY(0cm);
    opacity: 1;
  }
  100%{
    transform: translateY(1cm);
    opacity: 0;
    display: none;
  }
}

.slidy{
  opacity: 0;
  animation: fadein 6s ease-in-out forwards;
}